PORT=5000
NODE_ENV=production
JWT_SECRET=your_production_secret_key_change_me
ADMIN_DEFAULT_NAME=Iness
ADMIN_DEFAULT_EMAIL=Iness@Fleuria.com
ADMIN_DEFAULT_PASSWORD=iness2131
CLIENT_ORIGIN=http://localhost:5173,https://fleuria-handmade-lac.vercel.app
UPLOAD_DIR=uploads
